In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('all_transcripts.csv')
df.head()

,Login,Course Code,Title,Credit,ECTS,Grade,Letter,Point,Traditional
0,230183036,MAT 106,Information and Communication Technologies (in...,3,5,96.0,A,4.00,Excellent
1,230183036,MAT 123,Linear Algebra,4,5,85.0,B+,3.33,Good
2,230183036,MCM 103,Calculus 1,4,5,60.0,C-,1.67,Satisfactory
3,230183036,MDE 131,Turkish Language 1 (А1 level),2,3,80.0,B,3.00,Good
4,230183036,MDE 160,Community engagement and value based Society 1,1,0,79.0,P,NaN,Pass

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Login        136 non-null    int64
 1   Course Code  136 non-null    object
 2   Title        136 non-null    object
 3   Credit       136 non-null    int64
 4   ECTS         136 non-null    int64
 5   Grade        101 non-null    float64
 6   Letter       136 non-null    object
 7   Point        88 non-null     float64
 8   Traditional  136 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 9.7+ KB

In [4]:
df.describe()

              Login      Credit        ECTS       Grade      Point
count  1.360000e+02  136.000000  136.000000  101.000000  88.000000
mean   2.301430e+08    2.757353    3.933824   84.980198   3.181818
std    3.962514e+04    1.296699    1.606479    9.559268   0.565599
min    2.301010e+08    1.000000    0.000000   55.000000   1.330000
25%    2.301070e+08    1.750000    2.750000   80.000000   3.000000
50%    2.301070e+08    3.000000    5.000000   85.000000   3.330000
75%    2.301830e+08    4.000000    5.000000   92.000000   3.670000
max    2.301830e+08    6.000000    6.000000  100.000000   4.000000

In [5]:
df.isnull().sum()

Login           0
Course Code     0
Title           0
Credit          0
ECTS            0
Grade          35
Letter          0
Point          48
Traditional     0
dtype: int64

#### Уникальные значения grade and point

In [6]:
print('Unique values of Grade column:')
print(df['Grade'].unique())

print()

print('Unique values of Point column:')
print(df['Point'].unique())

Unique values of Grade column:
[ 96.  85.  60.  80.  79.  81. 100.  91.  74.  88.  94.  83.  90.  82.
  89.  78.  92.  nan  86.  75.  67.  95.  71.  84.  70.  87.  73.  76.
  77.  65.  97.  55.]

Unique values of Point column:
[4.   3.33 1.67 3.    nan 3.67 2.33 2.67 1.33]

In [7]:
df = df[~df['Letter'].isin(['W', 'P', 'IP'])]
df.isnull().sum()

Login          0
Course Code    0
Title          0
Credit         0
ECTS           0
Grade          0
Letter         0
Point          0
Traditional    0
dtype: int64

### Оставляем только те предметы которые влияют на gpa и которые были окончены

In [8]:
print('Total sum of ECTS by Login:')
print(df.groupby('Login')['ECTS'].sum().sort_values(ascending=False))

Total sum of ECTS by Login:
Login
230183036    94
230107045    92
230183023    91
230101050    85
Name: ECTS, dtype: int64

#### Считаем Gpa

In [9]:
df['point_ects'] = df['Point'] * df['ECTS']
sum_ects = df.groupby('Login')['ECTS'].sum()
sum_point_ects = df.groupby('Login')['point_ects'].sum()
print('Current gpa by ID: ')
print(round(sum_point_ects / sum_ects, 2).sort_values(ascending=False))

Current gpa by ID:
Login
230183023    3.34
230183036    3.33
230101050    3.06
230107045    2.79
dtype: float64

#### Смотрим среднюю и медиану

In [10]:
print('Mean of the grade by "Course Code"')
print(df.groupby(df['Course Code'].str[:3])['Grade'].mean().sort_values(ascending=False))

print()

print('Median of the grade by "Course Code"')
print(df.groupby(df['Course Code'].str[:3])['Grade'].median().sort_values(ascending=False))

Mean of the grade by "Course Code"
Course Code
MAT    87.705882
MDE    86.638298
SDS    83.153846
INF    79.000000
CSS    76.375000
MCM    67.500000
Name: Grade, dtype: float64

Median of the grade by "Course Code"
Course Code
MAT    90.0
MDE    86.0
SDS    83.0
INF    79.0
CSS    75.0
MCM    67.5
Name: Grade, dtype: float64

#### Сумма кредитов по Course Code

In [12]:
print('Number of ECTS by Course Code')
print(df.groupby(df['Course Code'].str[:3])['ECTS'].sum().sort_values(ascending=False))

Number of ECTS by Course Code
Course Code
MDE    157
MAT     85
SDS     65
CSS     40
MCM     10
INF      5
Name: ECTS, dtype: int64

#### Анализ средних оценок разных предметов по ID

In [11]:
print('Mean of the grade by "Course Code" for MDE')
print(df[df['Course Code'].str[:3] == 'MDE'].groupby('Login')['Grade'].mean().sort_values(ascending=False))

Mean of the grade by "Course Code" for MDE
Login
230183023    87.923077
230183036    87.230769
230101050    86.300000
230107045    84.727273
Name: Grade, dtype: float64

In [13]:
print('Mean of grade by Turkish Language by ID')
print(df[df['Title'].str[:7] == 'Turkish'].groupby('Login')['Grade'].mean().sort_values(ascending=False))

Mean of price by Turkish Language by ID
Login
230183023    84.000000
230101050    83.000000
230183036    78.333333
230107045    73.333333
Name: Grade, dtype: float64

In [14]:
print('Mean of grade by Turkish Language by ID')
print(df[df['Title'].str[:7] == 'Turkish'].groupby('Login')['Grade'].mean().sort_values(ascending=False))

Mean of grade by Turkish Language by ID
Login
230183023    84.000000
230101050    83.000000
230183036    78.333333
230107045    73.333333
Name: Grade, dtype: float64