In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('all_transcripts.csv')
df.head()

,Login,Course Code,Title,Credit,ECTS,Grade,Letter,Point,Traditional
0,230183036,MAT 106,Information and Communication Technologies (in...,3,5,96.0,A,4.00,Excellent
1,230183036,MAT 123,Linear Algebra,4,5,85.0,B+,3.33,Good
2,230183036,MCM 103,Calculus 1,4,5,60.0,C-,1.67,Satisfactory
3,230183036,MDE 131,Turkish Language 1 (А1 level),2,3,80.0,B,3.00,Good
4,230183036,MDE 160,Community engagement and value based Society 1,1,0,79.0,P,NaN,Pass

In [4]:
print('Total sum of ECTS by Login:')
df_ects = df[df['Traditional'] != 'Pass']
df_ects.groupby('Login')['ECTS'].sum().sort_values(ascending=False)

Total sum of ECTS by Login:

Login
230107045    133
230183036    126
230183023    124
230101050    122
Name: ECTS, dtype: int64

In [10]:
df1 = df[df['Point'].notna()]
df1['point_ects'] = df1['Point'] * df1['ECTS']
sum_ects = df1.groupby('Login')['ECTS'].sum()
sum_point_ects = df1.groupby('Login')['point_ects'].sum()
print('Current gpa by ID: ')
round(sum_point_ects / sum_ects, 2).sort_values(ascending=False)

Current gpa by Login:

C:\Users\User\AppData\Local\Temp\ipykernel_14068\261142703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['point_ects'] = df1['Point'] * df1['ECTS']

Login
230183023    3.34
230183036    3.33
230101050    3.06
230107045    2.79
dtype: float64

Получается у меня союирается ектс от 4го семака но там нет оценок