In [162]:
import pandas as pd
import numpy as np

In [163]:
df = pd.read_csv('all_transcripts.csv')
df.head()

,Login,Course Code,Title,Credit,ECTS,Grade,Letter,Point,Traditional
0,230183036,MAT 106,Information and Communication Technologies (in...,3,5,96.0,A,4.00,Excellent
1,230183036,MAT 123,Linear Algebra,4,5,85.0,B+,3.33,Good
2,230183036,MCM 103,Calculus 1,4,5,60.0,C-,1.67,Satisfactory
3,230183036,MDE 131,Turkish Language 1 (А1 level),2,3,80.0,B,3.00,Good
4,230183036,MDE 160,Community engagement and value based Society 1,1,0,79.0,P,NaN,Pass

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Login        136 non-null    int64
 1   Course Code  136 non-null    object
 2   Title        136 non-null    object
 3   Credit       136 non-null    int64
 4   ECTS         136 non-null    int64
 5   Grade        101 non-null    float64
 6   Letter       136 non-null    object
 7   Point        88 non-null     float64
 8   Traditional  136 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 9.7+ KB

In [165]:
df.describe()

              Login      Credit        ECTS       Grade      Point
count  1.360000e+02  136.000000  136.000000  101.000000  88.000000
mean   2.301430e+08    2.757353    3.933824   84.980198   3.181818
std    3.962514e+04    1.296699    1.606479    9.559268   0.565599
min    2.301010e+08    1.000000    0.000000   55.000000   1.330000
25%    2.301070e+08    1.750000    2.750000   80.000000   3.000000
50%    2.301070e+08    3.000000    5.000000   85.000000   3.330000
75%    2.301830e+08    4.000000    5.000000   92.000000   3.670000
max    2.301830e+08    6.000000    6.000000  100.000000   4.000000

In [166]:
df.isnull().sum()

Login           0
Course Code     0
Title           0
Credit          0
ECTS            0
Grade          35
Letter          0
Point          48
Traditional     0
dtype: int64

In [167]:
print('Unique values of Grade column:')
print(df['Grade'].unique())

print()

print('Unique values of Point column:')
print(df['Point'].unique())

Unique values of Grade column:
[ 96.  85.  60.  80.  79.  81. 100.  91.  74.  88.  94.  83.  90.  82.
  89.  78.  92.  nan  86.  75.  67.  95.  71.  84.  70.  87.  73.  76.
  77.  65.  97.  55.]

Unique values of Point column:
[4.   3.33 1.67 3.    nan 3.67 2.33 2.67 1.33]

In [168]:
df = df[~df['Letter'].isin(['W', 'P', 'IP'])]
df.isnull().sum()

Login          0
Course Code    0
Title          0
Credit         0
ECTS           0
Grade          0
Letter         0
Point          0
Traditional    0
dtype: int64

### Оставляем только те предметы которые влияют на gpa и которые были окончены

In [169]:
print('Total sum of ECTS by Login:')
df.groupby('Login')['ECTS'].sum().sort_values(ascending=False)

Total sum of ECTS by Login:

Login
230183036    94
230107045    92
230183023    91
230101050    85
Name: ECTS, dtype: int64

In [170]:
df['point_ects'] = df['Point'] * df['ECTS']
sum_ects = df.groupby('Login')['ECTS'].sum()
sum_point_ects = df.groupby('Login')['point_ects'].sum()
print('Current gpa by ID: ')
round(sum_point_ects / sum_ects, 2).sort_values(ascending=False)

Current gpa by ID:

Login
230183023    3.34
230183036    3.33
230101050    3.06
230107045    2.79
dtype: float64

In [171]:
print('Mean of the grade by "Course Code"')
print(df.groupby(df['Course Code'].str[:3])['Grade'].mean().sort_values(ascending=False))

print()

print('Median of the grade by "Course Code"')
print(df.groupby(df['Course Code'].str[:3])['Grade'].median().sort_values(ascending=False))

Mean of the grade by "Course Code"
Course Code
MAT    87.705882
MDE    86.638298
SDS    83.153846
INF    79.000000
CSS    76.375000
MCM    67.500000
Name: Grade, dtype: float64

Median of the grade by "Course Code"
Course Code
MAT    90.0
MDE    86.0
SDS    83.0
INF    79.0
CSS    75.0
MCM    67.5
Name: Grade, dtype: float64

Здесь мы видим что предметы MAT имеют самую большую средную по оценке (что очень удивительно)

In [172]:
df[df['Course Code'].str[:3] == 'MAT'][:5]

,Login,Course Code,Title,Credit,ECTS,Grade,Letter,Point,Traditional,point_ects
0,230183036,MAT 106,Information and Communication Technologies (in...,3,5,96.0,A,4.00,Excellent,20.00
1,230183036,MAT 123,Linear Algebra,4,5,85.0,B+,3.33,Good,16.65
8,230183036,MAT 122,Algorithms and programming 1,4,5,91.0,A-,3.67,Excellent,18.35
16,230183036,MAT 124,Algorithms and programming 2,4,5,100.0,A,4.00,Excellent,20.00
17,230183036,MAT 125,Discrete mathematics,4,5,90.0,A-,3.67,Excellent,18.35

In [173]:
df[df['Course Code'].str[:3] == 'MDE'][:5].sort_values(by='Grade', ascending=True)

,Login,Course Code,Title,Credit,ECTS,Grade,Letter,Point,Traditional,point_ects
9,230183036,MDE 132,Turkish Language 2 (А1 level),2,3,74.0,C+,2.33,Good,6.99
3,230183036,MDE 131,Turkish Language 1 (А1 level),2,3,80.0,B,3.00,Good,9.00
6,230183036,MDE 190,Foreign Language 1 (English for Academic Purpo...,3,5,81.0,B,3.00,Good,15.00
5,230183036,MDE 171,History of Kazakhstan,3,5,85.0,B+,3.33,Good,16.65
7,230183036,MDE 291,Physical Education 1,1,2,100.0,A,4.00,Excellent,8.00

In [174]:
df.groupby(df['Course Code'].str[:3])['ECTS'].sum().sort_values(ascending=False)

Course Code
MDE    157
MAT     85
SDS     65
CSS     40
MCM     10
INF      5
Name: ECTS, dtype: int64

In [175]:
df['Title'].str.lower().value_counts()

Title
russian language 1 (c1 level)                                      4
discrete mathematics                                               4
turkish language 1 (а1 level)                                      4
history of kazakhstan                                              4
foreign language 1 (english for academic purposes - b1 level )     4
physical education 1                                               4
turkish language 2 (а1 level)                                      4
physical education 3                                               4
physical education 2                                               4
calculus 2                                                         4
turkish language 3 (а2 level)                                      4
linear algebra                                                     4
statistics and its applications 1                                  3
calculus 3                                                         3
module of social and political knowledge  (sociology)              3
information and communication technologies (in english)            3
algorithms and programming 2                                       3
introduction to probability theory                                 3
philosophy                                                         3
algorithms and programming 1                                       3
calculus 1                                                         3
module of social and political knowledge (political science)       2
foreign language 2 (english for academic purposes - b1+ level )    2
physical education 4                                               1
fundamentals of programming                                        1
information and communication technologies                         1
programming technologies and educational practice                  1
database management systems 1                                      1
algorithms 1                                                       1
probability and mathematical statistics                            1
web programming: front end                                         1
mathematical analysis 1                                            1
Name: count, dtype: int64